<div class="about-me-grid">
        <img src="../../assets/joshua_anderson.jpg" class="grid-item-picture"/>
    <div class="grid-item-intro">
        <a >JOSHUA ANDERSON</a>
        <p style="margin-top: 30px; ">Born and raised in Houston Texas, from an early age I was interested in technology.
            Electronics, Computers, Games, all of it caught my eye in an instant. I went to University of Houston - Clear Lake (UHCL) to study Computer Engineering. While studying at UHCL, I worked with a team of 5 engineering students for my senior project to create an automatic treadmill that would increase/decrease its speed depending on the users heart rate. This project used a combination of software and hardware to realize the final product and was called <a [routerLink]="['/project','1']">"Smart Treadmill"</a> the project was a success as well as a class favorite. After graduating and while searching for jobs I decided to learn C# by developing my own application to automate gameplay
            for an old video game that I played when I was younger, I named this application <a [routerLink]="['/project','0']">"The Automated Game Player"</a>. 
            I completed all of the funcitonality that I set out to accomplish when starting this project. </p>
        </div>
        <!-- <div class="grid-item-intro">
            <a>yo</a>
    </div>
    -->
    <div class="grid-item-intro-cont">
        Although the project is completed, I still revisit it periodically to add new methods, funcitonality, and UI/UX updates. After completing The Automated Game Player I was picked up by a staffing company called Cognixia and joined their JUMP program to learn
        more about Full-Stack Web Develpment using Java and the technologies surrounding it. After graduating the program I worked on a number of Full-Stack projects with other graduates
    until my contract was over. Here are some of the projects that I've completed during that time. [insert some projects]
    </div> 
</div>
